[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
coreapi = "*"
django-environ = "*"
django-oauth-toolkit = "*"

[dev-packages]
httpie = "*"
coreapi-cli = "*"
