[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
django-allauth = "*"
coreapi = "*"
django-rest-auth = "*"

[dev-packages]
httpie = "*"
coreapi-cli = "*"
